 .navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background: rgb(30, 30, 30);
 }

 .logo {
    object-fit: cover;
    width: 5rem;
    height: 4rem;
 }

 .menuListItem {
    margin: 1rem;
    cursor: pointer;
 }

 .menuListItem:hover {
    color: #61DBFB;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #61DBFB;

 }

 .contactButton {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
 }

 .active {
    color: #61DBFB;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #61DBFB;
 }

 .mobMenu {
    width: 32px;
    height: 32px;
    object-fit: cover;
    display: none;
    height: 1.84rem;
 }

 .navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40, 40, 40);
 }

 .listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
 }

 @media screen and (max-width:720px) {
    .mobMenu {
       display: flex;
    }

    .menuListItem {
       display: none;
    }

    .contactButton {
       display: none;
    }
 }